<div class="footer__container">
    <div class="footer__box">
        <div class="footer__icons">
            <a href="#"><i class='bx bxl-linkedin'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-whatsapp'></i></a>
        </div>

        <div class="footer__form">
            <h3 class="footer__main">Join for Monthly Insights</h3>
            <form action="#">
                <input type="email" name="email" id="email" class="footer__input" placeholder="Enter An Email" required>
                <button type="submit" class="footer__submit"><i class='bx bx-send'></i></button>
            </form>
        </div>
        <p class="footer__info">
            We will never share or spam your email address.
            By clicking "Sign Up" you agree to the Terms of Use and Privacy Policy
        </p>
    </div>
    <div class="footer__box footer__elemento">
        <div class="footer__wrapper">
            <ul class="footer__menu">
                <li class="footer__menuList"><a href="/about" class="footer__menuLink">About Tim</a></li>
                <li class="footer__menuList"><a href="/articles" class="footer__menuLink">Articles</a></li>
                <li class="footer__menuList"><a href="/contact" class="footer__menuLink">Contact</a></li>
            </ul>
        </div>
        <div class="footer__wrapper">
            <ul class="footer__menu">
                <li class="footer__menuList"><a href="#" class="footer__menuLink">In Media</a></li>
                <li class="footer__menuList"><a href="#" class="footer__menuLink">Gallery</a></li>
                <li class="footer__menuList"><a href="/signup" class="footer__menuLink">Sign-up for Mentorship</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<span class="footer__line"></span>
<div class="footer__copy">
    <div class="footer__left">
        <ul>
            <li class="footer__list">© 2021 TIM AKANO</li>
            <li class="footer__list"><a href="#" class="footer__link">Privacy Policy</a></li>
            <li class="footer__list"><a href="#" class="footer__link">Term of Use</a></li>
        </ul>
    </div>

    <div class="footer__right">
        <p>Translate this page:</p>

        <div id="google_translate_element"></div>
    </div>
</div>