<div class="header__wrap"><a href="/"><img src="./assets/logo.webp" alt="" class="header__logo"></a></div>
<nav class="header__navigation">
    <ul class="header__items">
        <ul class="header__items">
            <li class="header__list"><a href="/" class="header__link">Home</a></li>
            <li class="header__list"><a href="/about" class="header__link">About Tim</a></li>
            <!-- <li class="header__list"><a href="/articles" class="header__link">Articles</a></li> -->
            <li class="header__list" id="dropdown__btn"><a href="#" class="header__link">Publication</a>
                <ul class="dropdown__item">
                    <li class="dropdown__list"><a href="/articles" class="dropdown__link">Articles</a></li>
                    <li class="dropdown__list"><a href="#" class="dropdown__link">Public Lectures</a></li>
                </ul>
            </li>
            <li class="header__list"><a href="#" class="header__link">In Media</a></li>
            <li class="header__list"><a href="#" class="header__link">Gallery</a></li>
            <li class="header__list"><a href="/contact" class="header__link">Contact</a></li>
            <li class="header__list"><a href="/signup" class="header__link">Sign-up For Mentorship</a></li>
        </ul>
    </ul>
</nav>
<div class="menu__toggle" id="nav__toggle">
    <!-- <i class='bx bx-menu'></i> -->
    <p class="menu__toggle__text">MENU</p>
    <span class="menu__toggle__line-01"></span>
    <span class="menu__toggle__line-02"></span>
</div>