<nav class="menu__navigation">
    <ul class="menu__items">
        <li class="menu__list"><a href="/" class="menu__link animate__animated animate__bounce">Home</a>
        </li>
        <li class="menu__list"><a href="/about" class="menu__link">About Tim</a></li>
        <li class="menu__list"><a href="/articles" class="menu__link">Articles</a></li>
        <li class="menu__list"><a href="#" class="menu__link">In Media</a></li>
        <li class="menu__list"><a href="#" class="menu__link">Gallery</a></li>
        <li class="menu__list"><a href="/contact" class="menu__link">Contact</a></li>
        <li class="menu__list"><a href="/signup" class="menu__link">Sign-up For Mentorship</a></li>
    </ul>
</nav>
<!-- <div class="menu__close" id="menu__close"><i class='bx bx-window-close'></i></div> -->