// ============== Import classes from about.html =====================
.about__container {
  width: 100%;
  // height: 80vh;
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  overflow-x: hidden;

  // @include for_breakpoint(eexl-resolution) {
  //   flex-direction: row;
  // }

  @include for_breakpoint(
    sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
      lxl-resolution xxl-resolution eexl-resolution
  ) {
    flex-direction: column;
  }

  &__box {
    flex: 1;
    //height: 65vh;
  }

  &__img {
    width: 85%;
    margin-left: 6rem;
    margin-top: -2rem;

    @include for_breakpoint(eexl-resolution) {
      width: 60%;
    }

    @include for_breakpoint(
      crtxl-resolution mbpxl-resolution gtfxl-resolution txl-resolution
        exl-resolution tablet desktop1 desktop2 desktop3 desktop4
        min-gtfxl-resolution
    ) {
      width: 80%;
      margin: 1rem auto;
      display: block;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution
    ) {
      display: none;
      margin-left: 0;
    }
  }

  &__image {
    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution desktop3 desktop4
    ) {
      //margin-top: 22rem;
      width: 80%;
      margin: 1rem auto;
      display: block;
    }

    @include for_breakpoint(
      crtxl-resolution mbpxl-resolution gtfxl-resolution txl-resolution
        exl-resolution tablet desktop3 desktop4
    ) {
      width: 80%;
      margin: 4rem auto;
      display: block;
    }
  }

  &__pic {
    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution
    ) {
      width: 80%;
      margin-top: 0;
      margin: 1rem auto;
      display: block;
    }

    @include for_breakpoint(eexl-resolution) {
      width: 60%;
      margin: 1rem auto;
      display: block;
    }

    @include for_breakpoint(
      crtxl-resolution mbpxl-resolution gtfxl-resolution txl-resolution
        exl-resolution tablet min-gtfxl-resolution desktop1 desktop2 desktop3
        desktop4
    ) {
      width: 80%;
      margin: 1rem auto;
      display: block;
    }
  }

  &__text {
    padding-left: $mb-5;

    // @include for_breakpoint(xxl-resolution) {
    //   background-color: rgb(28, 18, 18);
    //   width: 100%;
    // }

    @include for_breakpoint(desktop1 desktop2 min-gtfxl-resolution) {
      padding: 0 4rem;
    }

    @include for_breakpoint(
      gtfxl-resolution txl-resolution exl-resolution tablet
    ) {
      padding: 0 3rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution crtxl-resolution
        mbpxl-resolution
    ) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__heading {
    position: relative;
    font-size: 1.2rem;
    color: $heading-color;
    font-weight: $font-light;
    letter-spacing: 0.1rem;
    margin-top: 17rem;

    @include for_breakpoint(min-exl-resolution min-gtfxl-resolution) {
      margin-top: 17rem;
    }
    @include for_breakpoint(desktop3 desktop4) {
      margin-top: 15rem;
    }

    @include for_breakpoint(desktop1 desktop2) {
      margin-top: 2rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution crtxl-resolution
        mbpxl-resolution gtfxl-resolution txl-resolution exl-resolution tablet
    ) {
      margin-top: 2rem;
      font-size: 0.8rem;
    }

    &::after {
      content: "";
      width: 30%;
      height: 1px;
      background-color: $dark-blue;
      display: block;
      margin: 1.6rem 0;
    }
  }

  &__name {
    font-size: 3.75rem;
    font-style: italic;
    color: $heading-color;
    font-family: $heading-family;
    font-weight: $font-semi-light;
    margin-bottom: 1.6rem;

    @include for_breakpoint(
      sm-resolution md-resolution smxl-resolution mdxl-resolution lxl-resolution
        xxl-resolution eexl-resolution
    ) {
      font-size: 2rem;
    }
  }

  &__description {
    font-size: 1rem;
    color: $text-color;
    line-height: 2.2rem;

    @include for_breakpoint(
      sm-resolution md-resolution smxl-resolution mdxl-resolution lxl-resolution
        xxl-resolution eexl-resolution
    ) {
      font-size: 0.9rem;
    }
  }

  &__primary {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: $font-thin;
    font-family: $heading-family;
    color: $text-color;
    margin-top: $mb-5;
    letter-spacing: 0.2rem;

    .bx {
      font-size: 2rem;
      color: $dark-blue;
    }
  }

  &__line {
    width: 8%;
    height: 1px;
    background-color: $text-color;
    display: inline-block;
    margin: 0.2rem 0.5rem;
  }

  &__list {
    position: relative;
    font-size: 1rem;
    color: $text-color;
    line-height: 2.2rem;

    @include for_breakpoint(
      sm-resolution md-resolution smxl-resolution mdxl-resolution lxl-resolution
        xxl-resolution eexl-resolution
    ) {
      font-size: 0.9rem;
    }

    &::before {
      content: "⦾";
      color: $dark-blue;
      display: inline-block;
      margin-right: 1rem;
    }
  }
}

.about__fixed {
  padding-top: 3rem;
  //height: 100vh;
  margin-bottom: 2.5rem;
}
.about__elementary {
  background-color: $color-white;
}
.about__margin {
  padding-right: $mb-5;

  @include for_breakpoint(
    sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
      xxl-resolution lxl-resolution eexl-resolution
  ) {
    padding-right: 2rem;
    margin-top: -10rem;
  }
}
.about__01 {
  //margin-top: 10rem;
  padding-right: $mb-5;

  @include for_breakpoint(
    sm-resolution md-resolution smxl-resolution mdxl-resolution lxl-resolution
      xxl-resolution eexl-resolution
  ) {
    margin-top: -5rem;
    padding-right: 2rem;
  }
}
.about__info {
  margin-top: 2rem;
}
.about__vertical {
  border-left: 1px solid rgba(0, 0, 0, 0.2);

  @include for_breakpoint(
    sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
      xxl-resolution lxl-resolution eexl-resolution
  ) {
    border-left: none;
  }
}
.about__sticky {
  position: fixed;
  z-index: 1000;
}

.about__secondary {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include for_breakpoint(
    sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
      xxl-resolution lxl-resolution eexl-resolution
  ) {
    display: none;
  }

  &__box {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: $bg-color;
    text-align: center;
    padding: 0.5rem;
  }

  &__img {
    width: 90%;
  }

  &__text {
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;

    a {
      color: $heading-color;
    }

    &::after {
      content: "";
      width: 100%;
      height: 1.2px;
      background-color: $heading-color;
      margin-top: 0.9rem;
      display: block;
    }
  }
}

.elementary {
  background-color: $bg-color;
  padding-top: 1.8rem;

  @include for_breakpoint(
    sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
      lxl-resolution xxl-resolution eexl-resolution
  ) {
    margin-top: 1rem;
  }

  &__head {
    text-align: center;
    font-size: 1.8rem;
    font-family: $heading-family;
    color: $heading-color;
    margin-bottom: 1.8rem;
    font-style: italic;

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution
    ) {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    width: 50%;

    @include for_breakpoint(desktop1 desktop2) {
      width: 80%;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution crtxl-resolution
        mbpxl-resolution gtfxl-resolution txl-resolution exl-resolution tablet
        min-gtfxl-resolution
    ) {
      width: 90%;
    }
  }

  &__info {
    font-size: 1rem;
    line-height: 2rem;
    color: $text-color;

    @include for_breakpoint(eexl-resolution) {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution
    ) {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }

  &__box {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__main {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: $heading-family;
    color: $dark-blue;
    margin-bottom: 1rem;

    @include for_breakpoint(eexl-resolution) {
      font-size: 1.2rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution mdxl-resolution lxl-resolution xxl-resolution
        eexl-resolution
    ) {
      font-size: 0.9rem;
    }
  }

  &__post {
    font-size: 1rem;
    font-weight: $font-light;
    color: $heading-color;

    @include for_breakpoint(eexl-resolution) {
      font-size: 1rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution mdxl-resolution lxl-resolution xxl-resolution
        eexl-resolution
    ) {
      font-size: 0.8rem;
    }
  }
}

.swiper {
  width: 100%;
  //height: 40vh;
  margin-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;

  @include for_breakpoint(desktop1 desktop2) {
    padding: 0 4rem;
  }

  @include for_breakpoint(
    sm-resolution md-resolution mdxl-resolution lxl-resolution xxl-resolution
      eexl-resolution
  ) {
    padding-left: 2rem;
    padding-right: 2rem;
    //height: 60vh;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination span {
  background-color: $dark-blue;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.move__down {
  margin-top: 2rem;
}
