.comment {
  width: 100%;
  margin: 2rem 0;
  position: relative;

  &__heading {
    padding: 0 5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-weight: 600;
    color: $heading-color;

    @include for_breakpoint(
      min-gtfxl-resolution min-txl-resolution min-exl-resolution
    ) {
      padding: 1rem 5rem;
    }

    @include for_breakpoint(desktop1 desktop2) {
      padding: 1rem 4rem;
    }

    @include for_breakpoint(
      gtfxl-resolution txl-resolution exl-resolution tablet
    ) {
      padding: 1rem 3rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution crtxl-resolution
        mbpxl-resolution
    ) {
      padding: 1rem 2rem;
    }

    //min-widths
    @include for_breakpoint(
      min-sm-resolution min-md-resolution min-eexl-resolution min-xl-resolution
        min-lxl-resolution min-mbpxl-resolution min-xxl-resolution
    ) {
      padding: 0 2rem;
    }
  }

  &__textarea {
    width: 100%;
    height: 30vh;
    font-size: 0.9rem;
    font-family: inherit;
    color: $text-color;
    font-weight: $font-semi-light;
    padding: 0.9rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 5px;
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 0 5rem;

    @include for_breakpoint(gtfxl-resolution txl-resolution exl-resolution) {
      padding: 0 3rem;
    }

    @include for_breakpoint(crtxl-resolution mbpxl-resolution) {
      padding: 0 2rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution
    ) {
      padding: 0 2rem;
      flex-direction: column;
    }

    //Min-width
    @include for_breakpoint(
      min-sm-resolution min-md-resolution min-eexl-resolution min-xl-resolution
        min-lxl-resolution min-mbpxl-resolution min-xxl-resolution
    ) {
      padding: 1rem 3rem;
      flex-direction: row;
    }
  }

  &__output {
    padding: 0 5rem;

    @include for_breakpoint(
      desktop1 desktop2 min-gtfxl-resolution min-txl-resolution
        min-exl-resolution
    ) {
      padding: 1rem 4rem;
    }

    @include for_breakpoint(gtfxl-resolution txl-resolution exl-resolution) {
      padding: 0 3rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution crtxl-resolution
        mbpxl-resolution
    ) {
      padding: 0 2rem;
    }

    @include for_breakpoint(
      in-sm-resolution min-md-resolution min-eexl-resolution min-xl-resolution
        min-lxl-resolution min-mbpxl-resolution min-xxl-resolution
    ) {
      padding: 0 2rem;
    }
  }

  &__input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: inherit;
    color: $text-color;
    font-weight: $font-semi-light;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.1rem;

    @include for_breakpoint(
      in-sm-resolution min-md-resolution min-eexl-resolution min-xl-resolution
        min-lxl-resolution min-mbpxl-resolution min-xxl-resolution
        min-crfxl-resolution
    ) {
      width: 100%;
      padding: 0.7rem;
      font-size: 0.7rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution crtxl-resolution
        mbpxl-resolution
    ) {
      width: 100%;
      padding: 0.7rem;
      font-size: 0.7rem;

      &:not(:first-child) {
        margin-top: 1.2rem;
      }
    }
  }

  &__user {
    margin-right: 1.5rem;
  }

  &__name {
    font-size: 0.8rem;
    font-weight: $font-bold;
    color: $heading-color;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
  }

  &__textBox {
    padding: 0 5rem;

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution crtxl-resolution
        mbpxl-resolution
    ) {
      padding: 0 0.5rem;
      margin-top: 0.9rem;
    }
  }

  &__description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: $font-semi-light;
    color: $text-color;
  }

  &__span {
    margin-top: 0.8rem;
  }

  &__list {
    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  &__card {
    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution xxl-resolution eexl-resolution
    ) {
      margin-top: 1rem;
    }
  }
}

.main {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 30px 30px;
  padding: 2rem 5rem;

  @include for_breakpoint(min-txl-resolution min-exl-resolution) {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 30px 30px;
    padding: 2rem 5rem;
  }

  @include for_breakpoint(desktop1 desktop2 min-gtfxl-resolution) {
    padding: 3rem 4rem;
  }

  @include for_breakpoint(
    gtfxl-resolution txl-resolution exl-resolution tablet
  ) {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    padding: 3rem;
    gap: 30px 30px;
  }

  @include for_breakpoint(
    lxl-resolution xxl-resolution eexl-resolution crtxl-resolution
      mbpxl-resolution
  ) {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    padding: 2rem;
    gap: 30px 30px;
  }

  @include for_breakpoint(
    sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
  ) {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    padding: 2rem;
    gap: 30px 30px;
  }

  &__card {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);

    @include for_breakpoint(
      gtfxl-resolution txl-resolution exl-resolution tablet
    ) {
      height: 95vh;
    }

    @include for_breakpoint(
      min-txl-resolution min-exl-resolution min-gtfxl-resolution
    ) {
      height: 70vh;
    }

    @include for_breakpoint(eexl-resolution) {
      height: 100vh;
      padding: 1rem;
    }

    @include for_breakpoint(lxl-resolution xxl-resolution) {
      height: 110vh;
      padding: 1rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
    ) {
      height: 117vh;
      padding: 1rem;
    }
  }

  &__img {
    width: 100%;
    height: 50%;
    border-radius: 7px;

    @include for_breakpoint(
      lxl-resolution eexl-resolution min-txl-resolution min-exl-resolution
    ) {
      height: 50%;
    }

    @include for_breakpoint(mdxl-resolution) {
      height: 65%;
    }

    @include for_breakpoint(xl-resolution smxl-resolution) {
      height: 55%;
    }
  }

  &__main {
    font-size: 0.9rem;
    color: $heading-color;
    font-weight: 700;
    margin: 0.8rem 0;
    text-transform: uppercase;
  }

  &__content {
    font-size: 0.8rem;
    color: #333;
    line-height: 1.4rem;
  }

  &__date {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.8rem 0;
    color: #000;
  }

  &__author {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 400;
    margin: 0.8rem 0;
    color: #000;
  }
}

.details {
  &__card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 7rem 5rem;

    @include for_breakpoint(desktop1 desktop2 min-gtfxl-resolution) {
      padding: 5rem 4rem 0rem 4rem;
    }

    @include for_breakpoint(
      gtfxl-resolution txl-resolution exl-resolution tablet
    ) {
      padding: 4rem 3rem;
    }

    @include for_breakpoint(crtxl-resolution mbpxl-resolution) {
      padding: 3rem 1rem 0rem 1rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution
    ) {
      flex-direction: column;
      padding: 3rem 1rem 0rem 1rem;
    }
  }

  &__box {
    flex-basis: 55%;
    height: 70vh;
    margin-right: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);

    @include for_breakpoint(
      crtxl-resolution mbpxl-resolution gtfxl-resolution txl-resolution
        exl-resolution tablet min-gtfxl-resolution
    ) {
      flex-basis: 50%;
      margin-right: 1rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution
    ) {
      flex-basis: 100%;
      margin-right: 0rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

  &__info {
    flex-basis: 43%;
    padding: 1.2rem 1rem;

    @include for_breakpoint(desktop1 desktop2 min-gtfxl-resolution) {
      flex-basis: 42.5%;
      padding: 0rem 1rem;
    }

    @include for_breakpoint(
      gtfxl-resolution txl-resolution exl-resolution tablet min-gtfxl-resolution
        min-crfxl-resolution
    ) {
      flex-basis: 48%;
      padding: 0rem 1rem;
    }

    @include for_breakpoint(crtxl-resolution mbpxl-resolution) {
      flex-basis: 43%;
      padding: 0rem 0rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution
    ) {
      flex-basis: 100%;
    }
  }

  &__main {
    font-size: 1.2rem;
    color: $heading-color;
    font-weight: 700;
    margin: 1rem 0;
    text-transform: uppercase;

    @include for_breakpoint(desktop1 desktop2 min-gtfxl-resolution) {
      margin-top: 0rem;
    }
  }

  &__content {
    font-size: 0.8rem;
    color: $text-color;
    line-height: 2rem;
    margin: 0.8rem 0;
  }

  &__date {
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
    color: $heading-color;
  }

  &__author {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: $font-bold;
    margin: 1rem 0;
    color: $heading-color;
  }

  &__btn {
    width: 30%;
    padding: 0.7rem;
    margin-top: 0.8rem;
    background-color: $dark-blue;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;

    @include for_breakpoint(
      crtxl-resolution mbpxl-resolution gtfxl-resolution txl-resolution
        exl-resolution tablet desktop1 desktop2 min-gtfxl-resolution
    ) {
      width: 35%;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution
    ) {
      width: 100%;
    }
    a {
      color: $color-white;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.sh-use {
  padding: 0rem 5rem;
  margin-bottom: 3rem;

  @include for_breakpoint(
    gtfxl-resolution txl-resolution exl-resolution tablet
  ) {
    padding: 1rem 3rem;
  }

  @include for_breakpoint(
    sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
      lxl-resolution eexl-resolution crtxl-resolution mbpxl-resolution
  ) {
    padding: 1rem 2rem;
  }

  &__heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
  }
  &__wrapper {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px 20px;

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution
    ) {
      grid-template: repeat(1, 1fr) / repeat(1, 1fr);
      gap: 30px 20px;
    }
  }

  &__box {
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 1rem;

    @include for_breakpoint(crtxl-resolution mbpxl-resolution tablet) {
      height: 99%;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution
    ) {
      flex-direction: column;
      padding: 1rem;
      height: 100%;
    }
  }

  &__img {
    flex-basis: 150px;
    height: 150px;
    padding-top: 1rem;

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution
    ) {
      padding-top: 0rem;
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }
  }

  &__text {
    flex-basis: 70%;
    margin-left: 1.2rem;
    padding-top: 0.5rem;

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution
    ) {
      margin-left: 0rem;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    color: $heading-color;
    margin: 0.8rem 0;
  }

  &__sub {
    font-size: 0.8rem;
    color: $text-color;
    line-height: 1.5rem;
    margin-top: 0.7rem;
  }

  &__btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: inherit;
    margin-top: 1rem;

    a {
      color: $dark-blue;
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
}
