.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 5rem;

  @include for_breakpoint(gtfxl-resolution txl-resolution exl-resolution) {
    padding: 0 3rem;
  }

  @include for_breakpoint(
    sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
      lxl-resolution eexl-resolution crtxl-resolution mbpxl-resolution
  ) {
    padding: 0 2rem;
  }

  &__wrapper {
    flex: 1;
    height: 100%;
    margin: 2rem;

    @include for_breakpoint(desktop3 desktop4) {
      margin: 2rem 20%;
    }

    @include for_breakpoint(
      eexl-resolution crtxl-resolution mbpxl-resolution gtfxl-resolution
        txl-resolution exl-resolution
    ) {
      margin: 2rem;
    }

    @include for_breakpoint(mdxl-resolution lxl-resolution) {
      margin: 1.5rem;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution
    ) {
      margin: 1rem;
    }
  }

  &__form {
    width: 100%;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: $font-bold;
    margin: 1.2rem 0rem;
    text-transform: capitalize;

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution
    ) {
      font-size: 1.4rem;
    }
  }

  &__main {
    font-size: 1.6rem;

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution
    ) {
      font-size: 1.4rem;
    }
  }

  &__input {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.9rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: $font-light;
    font-family: inherit;
    color: $text-color;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 300ms ease-in-out;

    @include for_breakpoint(desktop3 desktop4) {
      width: 80%;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution eexl-resolution crtxl-resolution mbpxl-resolution
    ) {
      width: 100%;
      padding: 0.8rem;
      font-size: 0.6rem;
    }

    @include for_breakpoint(
      min-sm-resolution min-md-resolution min-eexl-resolution min-xl-resolution
        min-lxl-resolution min-mbpxl-resolution min-xxl-resolution
    ) {
      width: 100%;
      padding: 0.8rem;
      font-size: 0.6rem;
    }

    &:not(:first-child) {
      margin-top: 1.7rem;
    }

    &:focus {
      border: 1px solid rgb(28, 82, 155, 0.5);
    }
  }

  &__button {
    width: 20%;
    padding: 0.9rem;
    border: none;
    background-color: $dark-blue;
    outline: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: $font-semi-light;
    font-family: inherit;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 1.8rem;
    cursor: pointer;

    @include for_breakpoint(eexl-resolution crtxl-resolution mbpxl-resolution) {
      width: 30%;
    }

    @include for_breakpoint(
      sm-resolution md-resolution xl-resolution smxl-resolution mdxl-resolution
        lxl-resolution
    ) {
      width: 100%;
    }
  }

  &__textarea {
    height: 20vh;
  }

  option {
    font-family: inherit;
    font-size: 0.7rem;
    color: $text-color;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__log {
    margin-top: 1.2rem;
    font-size: 1rem;
    color: $heading-color;

    a {
      color: $dark-blue;
    }
  }
}
