@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
/* CSS Code for Animating Comment Element */
.comment {
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }
  80% {
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes animationFrames {
  0% {
    opacity: 0;
    -moz-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -moz-transform: translate(30px, 0px);
  }
  80% {
    -moz-transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(30px, 0px);
  }
  80% {
    -webkit-transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}
@-o-keyframes animationFrames {
  0% {
    opacity: 0;
    -o-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -o-transform: translate(30px, 0px);
  }
  80% {
    -o-transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes animationFrames {
  0% {
    opacity: 0;
    -ms-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -ms-transform: translate(30px, 0px);
  }
  80% {
    -ms-transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px);
  }
}
/* Media Queries */
/* ============== Google Font (Lato) ================ */
/* ============= Variables ================ */
/* ============= Colors =================== */
/* ============== Fonts =================== */
/* ============== Margins ============== */
.about__container {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  overflow-x: hidden;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .about__container {
    flex-direction: column;
  }
}
.about__container__box {
  flex: 1;
}
.about__container__img {
  width: 85%;
  margin-left: 6rem;
  margin-top: -2rem;
}
@media (max-width: 800px) {
  .about__container__img {
    width: 60%;
  }
}
@media (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (max-width: 1169px), (max-width: 1199px), (max-width: 1366px), (max-width: 1439px), (min-width: 1025px) {
  .about__container__img {
    width: 80%;
    margin: 1rem auto;
    display: block;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .about__container__img {
    display: none;
    margin-left: 0;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 1366px), (max-width: 1439px) {
  .about__container__image {
    width: 80%;
    margin: 1rem auto;
    display: block;
  }
}
@media (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (max-width: 1366px), (max-width: 1439px) {
  .about__container__image {
    width: 80%;
    margin: 4rem auto;
    display: block;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .about__container__pic {
    width: 80%;
    margin-top: 0;
    margin: 1rem auto;
    display: block;
  }
}
@media (max-width: 800px) {
  .about__container__pic {
    width: 60%;
    margin: 1rem auto;
    display: block;
  }
}
@media (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (min-width: 1025px), (max-width: 1169px), (max-width: 1199px), (max-width: 1366px), (max-width: 1439px) {
  .about__container__pic {
    width: 80%;
    margin: 1rem auto;
    display: block;
  }
}
.about__container__text {
  padding-left: 7rem;
}
@media (max-width: 1169px), (max-width: 1199px), (min-width: 1025px) {
  .about__container__text {
    padding: 0 4rem;
  }
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px) {
  .about__container__text {
    padding: 0 3rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .about__container__text {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.about__container__heading {
  position: relative;
  font-size: 1.2rem;
  color: #101010;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-top: 17rem;
}
@media (min-width: 1444px), (min-width: 1025px) {
  .about__container__heading {
    margin-top: 17rem;
  }
}
@media (max-width: 1366px), (max-width: 1439px) {
  .about__container__heading {
    margin-top: 15rem;
  }
}
@media (max-width: 1169px), (max-width: 1199px) {
  .about__container__heading {
    margin-top: 2rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px) {
  .about__container__heading {
    margin-top: 2rem;
    font-size: 0.8rem;
  }
}
.about__container__heading::after {
  content: "";
  width: 30%;
  height: 1px;
  background-color: #296190;
  display: block;
  margin: 1.6rem 0;
}
.about__container__name {
  font-size: 3.75rem;
  font-style: italic;
  color: #101010;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 1.6rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .about__container__name {
    font-size: 2rem;
  }
}
.about__container__description {
  font-size: 1rem;
  color: #333;
  line-height: 2.2rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .about__container__description {
    font-size: 0.9rem;
  }
}
.about__container__primary {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Nunito Sans", sans-serif;
  color: #333;
  margin-top: 7rem;
  letter-spacing: 0.2rem;
}
.about__container__primary .bx {
  font-size: 2rem;
  color: #296190;
}
.about__container__line {
  width: 8%;
  height: 1px;
  background-color: #333;
  display: inline-block;
  margin: 0.2rem 0.5rem;
}
.about__container__list {
  position: relative;
  font-size: 1rem;
  color: #333;
  line-height: 2.2rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .about__container__list {
    font-size: 0.9rem;
  }
}
.about__container__list::before {
  content: "⦾";
  color: #296190;
  display: inline-block;
  margin-right: 1rem;
}

.about__fixed {
  padding-top: 3rem;
  margin-bottom: 2.5rem;
}

.about__elementary {
  background-color: #fff;
}

.about__margin {
  padding-right: 7rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 767px), (max-width: 639px), (max-width: 800px) {
  .about__margin {
    padding-right: 2rem;
    margin-top: -10rem;
  }
}

.about__01 {
  padding-right: 7rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .about__01 {
    margin-top: -5rem;
    padding-right: 2rem;
  }
}

.about__info {
  margin-top: 2rem;
}

.about__vertical {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 767px), (max-width: 639px), (max-width: 800px) {
  .about__vertical {
    border-left: none;
  }
}

.about__sticky {
  position: fixed;
  z-index: 1000;
}

.about__secondary {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 767px), (max-width: 639px), (max-width: 800px) {
  .about__secondary {
    display: none;
  }
}
.about__secondary__box {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #f9f9f9;
  text-align: center;
  padding: 0.5rem;
}
.about__secondary__img {
  width: 90%;
}
.about__secondary__text {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
}
.about__secondary__text a {
  color: #101010;
}
.about__secondary__text::after {
  content: "";
  width: 100%;
  height: 1.2px;
  background-color: #101010;
  margin-top: 0.9rem;
  display: block;
}

.elementary {
  background-color: #f9f9f9;
  padding-top: 1.8rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .elementary {
    margin-top: 1rem;
  }
}
.elementary__head {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Nunito Sans", sans-serif;
  color: #101010;
  margin-bottom: 1.8rem;
  font-style: italic;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .elementary__head {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.elementary__text {
  width: 50%;
}
@media (max-width: 1169px), (max-width: 1199px) {
  .elementary__text {
    width: 80%;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (min-width: 1025px) {
  .elementary__text {
    width: 90%;
  }
}
.elementary__info {
  font-size: 1rem;
  line-height: 2rem;
  color: #333;
}
@media (max-width: 800px) {
  .elementary__info {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .elementary__info {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}
.elementary__box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.elementary__main {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  color: #296190;
  margin-bottom: 1rem;
}
@media (max-width: 800px) {
  .elementary__main {
    font-size: 1.2rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .elementary__main {
    font-size: 0.9rem;
  }
}
.elementary__post {
  font-size: 1rem;
  font-weight: 300;
  color: #101010;
}
@media (max-width: 800px) {
  .elementary__post {
    font-size: 1rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .elementary__post {
    font-size: 0.8rem;
  }
}

.swiper {
  width: 100%;
  margin-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
@media (max-width: 1169px), (max-width: 1199px) {
  .swiper {
    padding: 0 4rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .swiper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination span {
  background-color: #296190;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.move__down {
  margin-top: 2rem;
}

.comment {
  width: 100%;
  margin: 2rem 0;
  position: relative;
}
.comment__heading {
  padding: 0 5rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  font-weight: 600;
  color: #101010;
}
@media (min-width: 1025px), (min-width: 1200px), (min-width: 1444px) {
  .comment__heading {
    padding: 1rem 5rem;
  }
}
@media (max-width: 1169px), (max-width: 1199px) {
  .comment__heading {
    padding: 1rem 4rem;
  }
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px) {
  .comment__heading {
    padding: 1rem 3rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .comment__heading {
    padding: 1rem 2rem;
  }
}
@media (min-width: 480px), (min-width: 576px), null, (min-width: 600px), (min-width: 641px), (min-width: 992px), (min-width: 767px) {
  .comment__heading {
    padding: 0 2rem;
  }
}
.comment__textarea {
  width: 100%;
  height: 30vh;
  font-size: 0.9rem;
  font-family: inherit;
  color: #333;
  font-weight: 400;
  padding: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 5px;
}
.comment__row {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 1rem;
  padding: 0 5rem;
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px) {
  .comment__row {
    padding: 0 3rem;
  }
}
@media (max-width: 900px), (max-width: 959px) {
  .comment__row {
    padding: 0 2rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .comment__row {
    padding: 0 2rem;
    flex-direction: column;
  }
}
@media (min-width: 480px), (min-width: 576px), null, (min-width: 600px), (min-width: 641px), (min-width: 992px), (min-width: 767px) {
  .comment__row {
    padding: 1rem 3rem;
    flex-direction: row;
  }
}
.comment__output {
  padding: 0 5rem;
}
@media (max-width: 1169px), (max-width: 1199px), (min-width: 1025px), (min-width: 1200px), (min-width: 1444px) {
  .comment__output {
    padding: 1rem 4rem;
  }
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px) {
  .comment__output {
    padding: 0 3rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .comment__output {
    padding: 0 2rem;
  }
}
@media null, (min-width: 576px), null, (min-width: 600px), (min-width: 641px), (min-width: 992px), (min-width: 767px) {
  .comment__output {
    padding: 0 2rem;
  }
}
.comment__input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: inherit;
  color: #333;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  letter-spacing: 0.1rem;
}
@media null, (min-width: 576px), null, (min-width: 600px), (min-width: 641px), (min-width: 992px), (min-width: 767px), (min-width: 960px) {
  .comment__input {
    width: 100%;
    padding: 0.7rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .comment__input {
    width: 100%;
    padding: 0.7rem;
    font-size: 0.7rem;
  }
  .comment__input:not(:first-child) {
    margin-top: 1.2rem;
  }
}
.comment__user {
  margin-right: 1.5rem;
}
.comment__name {
  font-size: 0.8rem;
  font-weight: 700;
  color: #101010;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
.comment__textBox {
  padding: 0 5rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .comment__textBox {
    padding: 0 0.5rem;
    margin-top: 0.9rem;
  }
}
.comment__description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #333;
}
.comment__span {
  margin-top: 0.8rem;
}
.comment__list:not(:first-child) {
  margin-top: 1.5rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .comment__card {
    margin-top: 1rem;
  }
}

.main {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 30px 30px;
  padding: 2rem 5rem;
}
@media (min-width: 1200px), (min-width: 1444px) {
  .main {
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap: 30px 30px;
    padding: 2rem 5rem;
  }
}
@media (max-width: 1169px), (max-width: 1199px), (min-width: 1025px) {
  .main {
    padding: 3rem 4rem;
  }
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px) {
  .main {
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    padding: 3rem;
    gap: 30px 30px;
  }
}
@media (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .main {
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    padding: 1rem;
    gap: 30px 30px;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px) {
  .main {
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
    padding: 1rem;
    gap: 30px 30px;
  }
}
.main__card {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px) {
  .main__card {
    height: 100%;
  }
}
@media (min-width: 1200px), (min-width: 1444px), (min-width: 1025px) {
  .main__card {
    height: 100%;
  }
}
@media (max-width: 800px) {
  .main__card {
    height: 100%;
    padding: 1rem;
  }
}
@media (max-width: 639px), (max-width: 767px) {
  .main__card {
    height: 100%;
    padding: 1rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px) {
  .main__card {
    height: 100%;
    padding: 1rem;
  }
}
.main__img {
  width: 100%;
  height: 50%;
  border-radius: 7px;
}
.main__main {
  font-size: 0.9rem;
  color: #101010;
  font-weight: 700;
  margin: 0.8rem 0;
  text-transform: uppercase;
}
.main__content {
  font-size: 0.8rem;
  color: #333;
  line-height: 1.4rem;
}
.main__date {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.8rem 0;
  color: #000;
}
.main__author {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
  margin: 0.8rem 0;
  color: #000;
}

.details__card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 7rem 5rem;
}
@media (max-width: 1169px), (max-width: 1199px), (min-width: 1025px) {
  .details__card {
    padding: 5rem 4rem 2rem 4rem;
  }
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px) {
  .details__card {
    padding: 4rem 3rem;
  }
}
@media (max-width: 900px), (max-width: 959px) {
  .details__card {
    padding: 3rem 1rem 2rem 1rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px) {
  .details__card {
    flex-direction: column;
    padding: 3rem 1rem 2rem 1rem;
  }
}
.details__box {
  flex-basis: 55%;
  height: 70vh;
  margin-right: 1.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
@media (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (min-width: 1025px) {
  .details__box {
    flex-basis: 50%;
    margin-right: 1rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px) {
  .details__box {
    flex-basis: 100%;
    margin-right: 0rem;
  }
}
.details__img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.details__info {
  flex-basis: 43%;
  padding: 1.2rem 1rem;
}
@media (max-width: 1169px), (max-width: 1199px), (min-width: 1025px) {
  .details__info {
    flex-basis: 42.5%;
    padding: 0rem 1rem;
  }
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (min-width: 1025px), (min-width: 960px) {
  .details__info {
    flex-basis: 48%;
    padding: 0rem 1rem;
  }
}
@media (max-width: 900px), (max-width: 959px) {
  .details__info {
    flex-basis: 43%;
    padding: 1rem 1rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px) {
  .details__info {
    flex-basis: 100%;
    padding: 1rem 1rem;
  }
}
.details__main {
  font-size: 1.2rem;
  color: #101010;
  font-weight: 700;
  margin: 1rem 0;
  text-transform: uppercase;
}
@media (max-width: 1169px), (max-width: 1199px), (min-width: 1025px) {
  .details__main {
    margin-top: 3rem;
  }
}
.details__content {
  font-size: 0.9rem;
  color: #333;
  line-height: 2rem;
  margin: 0.8rem 0;
}
.details__date {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #101010;
}
.details__author {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 700;
  margin: 1rem 0;
  color: #101010;
}
.details__btn {
  width: 30%;
  padding: 0.7rem;
  margin-top: 0.8rem;
  background-color: #296190;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
}
@media (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (max-width: 1169px), (max-width: 1199px), (min-width: 1025px) {
  .details__btn {
    width: 35%;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px) {
  .details__btn {
    width: 100%;
  }
}

.sh-use {
  padding: 0rem 5rem;
  margin-bottom: 3rem;
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px) {
  .sh-use {
    padding: 1rem 3rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .sh-use {
    padding: 1rem 2rem;
  }
}
.sh-use__heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
}
.sh-use__wrapper {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 30px 20px;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px) {
  .sh-use__wrapper {
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
    gap: 30px 20px;
  }
}
.sh-use__box {
  width: 100%;
  height: 110%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
}
@media (max-width: 900px), (max-width: 959px), (max-width: 1024px) {
  .sh-use__box {
    height: 99%;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px) {
  .sh-use__box {
    flex-direction: column;
    padding: 1rem;
    height: 100%;
  }
}
.sh-use__img {
  flex-basis: 150px;
  height: 150px;
  padding-top: 1rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px) {
  .sh-use__img {
    padding-top: 0rem;
    height: 300px;
  }
}
.sh-use__img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.sh-use__text {
  flex-basis: 70%;
  margin-left: 1.2rem;
  padding-top: 0.5rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px) {
  .sh-use__text {
    margin-left: 0rem;
  }
}
.sh-use__title {
  font-size: 1rem;
  font-weight: 600;
  color: #101010;
  margin: 0.8rem 0;
}
.sh-use__sub {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5rem;
  margin-top: 0.7rem;
}
.sh-use__btn {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  margin-top: 1rem;
}
.sh-use__btn a {
  color: #296190;
  font-size: 0.9rem;
  font-weight: 600;
}

/* ============ General Reset ================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.8%;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 5rem;
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px) {
  .contact {
    padding: 0 3rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .contact {
    padding: 0 2rem;
  }
}
.contact__wrapper {
  flex: 1;
  height: 100%;
  margin: 2rem;
}
@media (max-width: 1366px), (max-width: 1439px) {
  .contact__wrapper {
    margin: 2rem 20%;
  }
}
@media (max-width: 800px), (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px) {
  .contact__wrapper {
    margin: 2rem;
  }
}
@media (max-width: 599px), (max-width: 639px) {
  .contact__wrapper {
    margin: 1.5rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px) {
  .contact__wrapper {
    margin: 1rem;
  }
}
.contact__form {
  width: 100%;
}
.contact__heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1.2rem 0rem;
  text-transform: capitalize;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px) {
  .contact__heading {
    font-size: 1.4rem;
  }
}
.contact__main {
  font-size: 1.6rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px) {
  .contact__main {
    font-size: 1.4rem;
  }
}
.contact__input {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 300;
  font-family: inherit;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 300ms ease-in-out;
}
@media (max-width: 1366px), (max-width: 1439px) {
  .contact__input {
    width: 80%;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .contact__input {
    width: 100%;
    padding: 0.8rem;
    font-size: 0.6rem;
  }
}
@media (min-width: 480px), (min-width: 576px), null, (min-width: 600px), (min-width: 641px), (min-width: 992px), (min-width: 767px) {
  .contact__input {
    width: 100%;
    padding: 0.8rem;
    font-size: 0.6rem;
  }
}
.contact__input:not(:first-child) {
  margin-top: 1.7rem;
}
.contact__input:focus {
  border: 1px solid rgba(28, 82, 155, 0.5);
}
.contact__button {
  width: 20%;
  padding: 0.9rem;
  border: none;
  background-color: #296190;
  outline: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: inherit;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 1.8rem;
  cursor: pointer;
}
@media (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .contact__button {
    width: 30%;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px) {
  .contact__button {
    width: 100%;
  }
}
.contact__textarea {
  height: 20vh;
}
.contact option {
  font-family: inherit;
  font-size: 0.7rem;
  color: #333;
}
.contact option:not(:first-child) {
  margin-top: 1rem;
}
.contact__log {
  margin-top: 1.2rem;
  font-size: 1rem;
  color: #101010;
}
.contact__log a {
  color: #296190;
}

.footer {
  width: 100%;
  background-color: #000;
  padding: 5rem 10rem;
}
@media (max-width: 1169px), (max-width: 1199px) {
  .footer {
    padding: 4rem;
  }
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (min-width: 1025px) {
  .footer {
    padding: 3rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 900px), (max-width: 959px) {
  .footer {
    padding: 3rem 2rem;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow-y: hidden;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__box {
  flex: 1;
}
.footer__icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: all 300ms ease-in-out;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 767px), (max-width: 639px) {
  .footer__icons a {
    font-size: 1.2rem;
  }
}
.footer__icons a:not(:first-child) {
  margin-left: 1.2rem;
}
.footer__icons a:hover {
  color: #333;
}
.footer__form {
  margin-top: 1.6rem;
  position: relative;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 900px), (max-width: 959px) {
  .footer__form {
    width: 100%;
  }
}
.footer__main {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .footer__main {
    font-size: 1.3rem;
  }
}
.footer__input {
  width: 70%;
  padding: 0.8rem;
  margin-top: 1.5rem;
  border: 1px solid #333;
  font-size: 0.8rem;
  color: #333;
  font-family: inherit;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: transparent;
  outline: none;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 1169px), (max-width: 1199px) {
  .footer__input {
    width: 100%;
    font-size: 0.7rem;
  }
}
.footer__submit {
  position: absolute;
  top: 57%;
  right: 30%;
  width: 10%;
  padding: 0.5rem;
  background-color: #296190;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 1169px), (max-width: 1199px) {
  .footer__submit {
    width: 15%;
    right: 0%;
  }
}
.footer__info {
  font-size: 0.9rem;
  color: #333;
  margin-top: 1.6rem;
  width: 70%;
  line-height: 1.4rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (min-width: 1025px), (max-width: 1169px), (max-width: 1199px), (max-width: 1366px), (max-width: 1439px) {
  .footer__info {
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 1.2rem;
  }
}
.footer__line {
  width: 100%;
  height: 1px;
  background-color: #333;
  display: block;
}
@media (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (min-width: 1025px), (max-width: 1169px), (max-width: 1199px), (max-width: 1366px), (max-width: 1439px) {
  .footer__line {
    margin: 5rem 0rem 2rem 0rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .footer__line {
    margin: 2rem 0;
  }
}
.footer__copy {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .footer__copy {
    flex-direction: column;
  }
}
.footer__list {
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #fff;
}
.footer__list:not(:first-child) {
  margin-left: 1.2rem;
}
.footer__link {
  color: #333;
  font-size: 0.8rem;
  transition: all 300ms ease-in-out;
}
.footer__link:hover {
  color: #fff;
}
.footer__middle {
  text-align: center;
  margin-top: 1.2rem;
}
.footer__elemento {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .footer__elemento {
    flex-direction: column;
  }
}
.footer__wrapper {
  margin-top: 3rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .footer__wrapper {
    margin-top: 1rem;
  }
}
.footer__wrapper:not(:first-child) {
  margin-left: 2.5rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .footer__wrapper:not(:first-child) {
    margin-left: 0;
  }
}
.footer__menuList:not(:first-child) {
  margin-top: 1rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .footer__menuList:not(:first-child) {
    margin-top: 1.3rem;
  }
}
.footer__menuLink {
  font-size: 0.7rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 300ms ease-in-out;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 900px), (max-width: 959px) {
  .footer__menuLink {
    font-size: 0.8rem;
  }
}
.footer__menuLink:hover {
  color: #333;
}

#google_translate_element select {
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 0.9rem;
  border: 1px solid #333;
  border-radius: 7px;
}
#google_translate_element option {
  color: #333;
  font-family: inherit;
  font-size: 0.9rem;
  background-color: #000;
}

p {
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
}

.header {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/_DSC3307.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}
@media (max-width: 500px), (max-width: 360px), (max-width: 479px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .header {
    min-height: 100%;
  }
}
.header__container {
  position: relative;
  width: 100%;
  height: 12vh;
  text-align: center;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1169px), (max-width: 1199px), (max-width: 1366px), (max-width: 1439px), (max-width: 1599px), (min-width: 1025px) {
  .header__container {
    padding: 1rem 4rem;
    height: 14vh;
  }
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px) {
  .header__container {
    padding: 1rem 3rem;
    height: 14vh;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px) {
  .header__container {
    padding: 1rem 2rem;
    height: 14vh;
  }
}
.header__wrap {
  text-align: left;
}
.header__logo {
  width: 100%;
  height: 12vh;
  margin-top: -2rem;
}
@media (max-width: 1366px), (max-width: 1439px), (max-width: 1599px) {
  .header__logo {
    margin-left: -1rem;
    height: 20vh;
    width: 100%;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (max-width: 1169px), (max-width: 1199px), (min-width: 1025px) {
  .header__logo {
    margin-left: -1rem;
    height: 16vh;
    width: 100%;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px) {
  .header__navigation {
    display: none;
  }
}
.header__items {
  line-height: 50px;
}
@media (max-width: 1366px), (max-width: 1439px), (max-width: 1599px), (min-width: 1200px), (min-width: 1444px), (min-width: 1025px) {
  .header__items {
    line-height: 50px;
  }
}
.header__list {
  display: inline-block;
  margin: 0 1rem;
  position: relative;
}
.header__link {
  position: relative;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.4s ease-in-out;
}
.header__link::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #101010;
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -80%;
  left: 0;
  transition: all 0.4s ease-in-out;
}
.header__link:hover {
  color: #101010;
}
.header__link:hover::after {
  width: 100%;
  visibility: visible;
  opacity: 1;
}
.header__text {
  width: 40%;
  position: absolute;
  top: 45%;
  left: 7%;
  overflow-y: hidden;
}
@media (max-width: 1366px), (max-width: 1439px), (max-width: 1599px) {
  .header__text {
    width: 65%;
    left: 0%;
    top: 45%;
    padding: 1rem 5rem;
  }
}
@media (max-width: 800px), (min-width: 1200px), (min-width: 1444px) {
  .header__text {
    width: 50%;
    left: 0%;
    top: 60%;
    padding: 1rem 2rem;
  }
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (max-width: 1169px), (max-width: 1199px) {
  .header__text {
    width: 70%;
    left: 0%;
    top: 60%;
    padding: 1rem 3rem;
  }
}
@media (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 900px), (max-width: 959px) {
  .header__text {
    width: 70%;
    left: 0%;
    top: 60%;
    padding: 1rem 2rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px) {
  .header__text {
    width: 100%;
    left: 0%;
    top: 60%;
    padding: 1rem 2rem;
  }
}
@media (max-width: 360px) {
  .header__text {
    width: 100%;
  }
}
.header__main {
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  line-height: 5rem;
}
@media (max-width: 1366px), (max-width: 1439px), (max-width: 1599px) {
  .header__main {
    font-size: 50px;
  }
}
@media (max-width: 800px), (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px), (max-width: 1169px), (max-width: 1199px), (min-width: 1025px) {
  .header__main {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .header__main {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.header__box {
  padding-left: 7rem;
}
.header__box img {
  margin-bottom: 1rem;
  width: 40%;
  height: 80vh;
}

.chatBox {
  width: 10%;
  position: fixed;
  bottom: 1%;
  right: 1%;
  overflow-y: hidden;
}
@media (max-width: 1169px), (max-width: 1199px), (max-width: 1366px), (max-width: 1439px), (min-width: 1025px) {
  .chatBox {
    width: 15%;
  }
}
@media (max-width: 800px), (max-width: 900px), (max-width: 959px), (max-width: 979px), (max-width: 985px), (max-width: 991px), (max-width: 1024px) {
  .chatBox {
    width: 18%;
    bottom: 1%;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .chatBox {
    width: 30%;
    bottom: 1%;
  }
}
.chatBox__btn {
  width: 100%;
  padding: 0.7rem;
  background-color: #296190;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 24px;
  outline: none;
  cursor: pointer;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .chatBox__btn {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
}

.menu__toggle {
  color: #fff;
  cursor: pointer;
}
.menu__toggle__text {
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.menu__toggle__line-01, .menu__toggle__line-02 {
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
}
.menu__toggle__line-02 {
  margin-top: 0.5rem;
}
@media (max-width: 1169px), (max-width: 1199px), (max-width: 1366px), (max-width: 1439px), (min-width: 1025px), (min-width: 1200px) {
  .menu__toggle {
    display: none;
    margin-top: 0.8rem;
  }
}
@media (min-width: 960px) {
  .menu__toggle {
    display: block;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px), (max-width: 800px) {
  .menu__toggle {
    margin-top: 0.5rem;
    font-size: 2.2rem;
    display: block;
  }
}

.menu {
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #296190;
  padding: 2rem;
  color: #fff;
  visibility: hidden;
  z-index: 1000;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .menu {
    top: 12%;
  }
}
.menu__list {
  text-align: center;
}
.menu__list:not(:first-child) {
  margin-top: 2rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .menu__list:not(:first-child) {
    margin-top: 2rem;
  }
}
.menu__link {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
@media (max-width: 800px) {
  .menu__link {
    font-size: 0.8rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px) {
  .menu__link {
    font-size: 0.7rem;
  }
}

.show-menu {
  visibility: visible;
  transform: translateY(0%);
}

.primary__wrapper {
  background-color: #296190;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.dropdown__item {
  width: 155%;
  height: 15vh;
  background-color: #296190;
  position: absolute;
  top: 100%;
  text-align: left;
  z-index: 1000;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  visibility: hidden;
  padding: 0.5rem;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}

.dropdown__list:not(:first-child) {
  margin-top: 0.2rem;
}

.dropdown__link {
  position: relative;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.dropdown__link::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #101010;
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -50%;
  left: 0;
  transition: all 0.4s ease-in-out;
}
.dropdown__link:hover {
  color: #101010;
}
.dropdown__link:hover::after {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

#dropdown__btn:hover .dropdown__item {
  visibility: visible;
  transform: translateY(0);
}

.menu__item {
  padding: 10px 0;
  display: none;
}

#drop-1 {
  display: none;
}

[id^=drop]:checked + .menu__item {
  display: block;
}

.branco__link {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px), (max-width: 599px), (max-width: 639px), (max-width: 767px), (max-width: 800px) {
  .branco__link {
    font-size: 0.7rem;
  }
}

.branco__list {
  margin-top: 0.9rem;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.8);
}

.header__btn {
  padding: 0.6rem 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: #296190;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.2rem;
  outline: none;
  cursor: pointer;
}

.comment__btn {
  width: 15%;
  padding: 0.6rem 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: #296190;
  color: #fff;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.1rem;
  outline: none;
  cursor: pointer;
  margin: 1.5rem 0;
}
@media (max-width: 979px), (max-width: 985px), (max-width: 991px) {
  .comment__btn {
    width: 18%;
  }
}
@media (max-width: 900px), (max-width: 959px), (min-width: 992px) {
  .comment__btn {
    width: 20%;
  }
}
@media (max-width: 767px), (max-width: 800px) {
  .comment__btn {
    width: 30%;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px) {
  .comment__btn {
    width: 100%;
  }
}

.container {
  text-transform: uppercase;
  padding-top: 200px;
  position: fixed;
  width: 100%;
  bottom: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7000;
  overflow: hidden;
}
.container__text {
  font-size: 4rem;
  font-family: "Nunito Sans", sans-serif;
  margin-right: 1.2rem;
  color: #101010;
  font-weight: 700;
}
@media (max-width: 639px), (max-width: 767px) {
  .container__text {
    font-size: 3rem;
  }
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px) {
  .container__text {
    display: none;
  }
}
.container__primary {
  color: #296190;
}
.container__flip {
  height: 50px;
  overflow: hidden;
}

.container__flip > div > div {
  width: 100%;
  font-size: 2.25rem;
  color: #333;
  padding: 0.25rem 0.75rem;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 400;
}
@media (max-width: 360px), (max-width: 479px), (max-width: 500px), (max-width: 575px) {
  .container__flip > div > div {
    font-size: 2.2rem;
    text-align: center;
  }
}

.container__flip div:first-child {
  animation: show 7s linear infinite;
}

.container__flip div:first-child div {
  margin-left: 0.3125rem;
}

.overlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5000;
  background-color: #fff;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
