.header__btn {
  padding: 0.6rem 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: $dark-blue;
  color: $color-white;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.2rem;
  outline: none;
  cursor: pointer;
}

.comment__btn {
  width: 15%;
  padding: 0.6rem 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: $dark-blue;
  color: $color-white;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.1rem;
  outline: none;
  cursor: pointer;
  margin: 1.5rem 0;

  @include for_breakpoint(gtfxl-resolution txl-resolution exl-resolution) {
    width: 18%;
  }

  @include for_breakpoint(
    crtxl-resolution mbpxl-resolution min-mbpxl-resolution
  ) {
    width: 20%;
  }

  @include for_breakpoint(xxl-resolution eexl-resolution) {
    width: 30%;
  }

  @include for_breakpoint(
    sm-resolution md-resolution xl-resolution smxl-resolution
  ) {
    width: 100%;
  }
}
