.wrapper {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 50%);
  z-index: 5000;
}

.textBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__left {
  flex-basis: 50%;
  text-align: right;
  margin-right: 1.2rem;

  @include for_breakpoint(sm-resolution md-resolution xl-resolution smxl-resolution lxl-resolution mdxl-resolution) {
    display: none;
  }
}

.bigText {
  font-size: 65px;
  font-weight: 700;
  color: $heading-color;
}

.container__right {
  flex-basis: 50%;
  padding-top: 0.6rem;

  @include for_breakpoint(sm-resolution md-resolution xl-resolution smxl-resolution lxl-resolution mdxl-resolution) {
    flex-basis: 100%;
    text-align: center;
  }
}

.content {
  visibility: hidden;
  animation: animatezoom 20s;
}

.animateText {
  font-size: 50px;
  font-weight: 600;
  color: $text-color;

  @include for_breakpoint(sm-resolution md-resolution xl-resolution smxl-resolution lxl-resolution mdxl-resolution) {
    font-size: 40px;
  }
}

.flip {
  transform: rotateX(360deg);
  transition: 300ms;
  text-transform: capitalize;
}

.fadeIn {
  -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 2s; /* Firefox < 16 */
  -ms-animation: fadeIn 2s; /* Internet Explorer */
  -o-animation: fadeIn 2s; /* Opera < 12.1 */
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
