<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PG8337B');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================ Custom CSS Link ================= -->
    <link rel="stylesheet" href="./css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>About - Tim Akano</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PG8337B" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="header__container primary__wrapper">
        <%- include ('../partials/header') %>
    </div>
    <!-- Menu for sm-resolution, md-resolution, & lg-resolution -->
    <div class="menu" id="nav__menu">
        <%- include ('../partials/menu') %>
    </div>

    <main>
        <div class="about__container about__fixed">
            <div class="about__container__box">
                <div class="about__container__text">
                    <h2 class="about__container__heading">INVESTOR. ENTREPRENEUR. WRITER. MENTOR.</h2>
                    <p class="about__container__name">Tim Akano</p>
                    <p class="about__container__description">
                        Tim Akano is an investor, entrepreneur, writer, author, mentor and life coach.
                        After his two decades in the business world working with multinational conglomerates.
                        Today, he is the MD/CEO of New Horizon Solutions Nigeria Limited, a franchise of the
                        world largest computer training institute, New Horizon International.
                    </p>
                    <p class="about__container__description about__info">
                        Founder/CEO,WiniGroup, an agric investment company, Pioneering founder/President, One Africa
                        Initiatives,
                        one of the Africa most powerful NGOs. An NGO founded out of his burning desire to see
                        Africa transformed with membership strength from over 13 countries of the world.
                    </p>
                </div>
            </div>
            <div class="about__container__box">
                <img src="./assets/nat__1.png" alt="Tim Akano" class="about__container__img about__container__image">
            </div>
        </div>

        <div class="about__container about__elementary">
            <div class="about__container__box">
                <img src="./assets/nat__2.png" alt="Tim Akano" class="about__container__img">
            </div>
            <div class="about__container__box about__vertical">
                <!-- Mentorship -->
                <div class="about__container__text about__margin">
                    <div class="about__container__primary">
                        <i class='bx bx-user-voice bx-burst-hover'></i>
                        <span class="about__container__line"></span>Mentoring
                    </div>
                    <p class="about__container__description about__info">
                        Tim has dedicated his life, resources and energy to youths development and empowerment in
                        Africa.
                        A free service he reported gives him fulfilment in life.
                    </p>
                    <p class="about__container__description about__info">
                        He founded FABAAW, a mentoring platform for young people from over 50 African countries
                        and around the world. Offering career coaching, investment guide, leadership training,
                        governance and policy making, skill acquisition programs and many others.
                    </p>
                </div>
            </div>
        </div>

        <div class="about__container about__elementary">
            <div class="about__container__box">
                <!-- Education -->
                <div class="about__container__text about__01">
                    <div class="about__container__primary">
                        <i class='bx bx-book bx-burst-hover'></i>
                        <span class="about__container__line"></span>Education
                    </div>
                    <p class="about__container__description about__info about__container__bullet">
                        Tim is an alumnus of 4 universities;
                        <ul class="about__container__items">
                            <li class="about__container__list">University of Ile Ife - B.Sc in International Relations,
                            </li>
                            <li class="about__container__list">WITS University Johannesburg, South Africa (Advanced
                                Management Program),</li>
                            <li class="about__container__list">Institute of Management (IMD) Laussane, Switzerland -
                                Senior Management Program,</li>
                            <li class="about__container__list">Lagos Business School - Senior Management Program.</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="about__container__box about__vertical">
                <img src="./assets/nat__2.png" alt="Tim Akano"
                    class="about__container__img about__container__pic move__down">
            </div>
        </div>

        <div class="about__secondary">
            <div class="about__secondary__box">
                <img src="./assets/header__hero-removebg-preview.png" alt="Tim Akano" class="about__secondary__img">
            </div>
            <p class="about__secondary__text">
                <a href="#">Awards & appointments</a>
            </p>
        </div>

        <!-- What people are saying -->
        <div class="elementary">
            <h1 class="elementary__head">What people are saying</h1>
            <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="elementary__text">
                            <p class="elementary__info">
                                Prof. Tim, each time I pick up your piece to read, its usually impossible to
                                drop it no matter how busy I am until I get to the last dot of your write up.
                                I must confess the enormous research and time you have put into this work.
                                You are really a great writer. This is very eeucative and inspiring. Thank you
                            </p>
                            <div class="elementary__box">
                                <div class="elementary__author">
                                    <h3 class="elementary__main">Shelby Integer</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="elementary__text">
                            <p class="elementary__info">
                                Good morning Tim. Your treatise was a necessary distraction for my breakfast.
                                I was struggling between reading it and eating my breakfast. I have read it and it is
                                quite illuminating.
                                If it will be eventually published, citations will be required and the Conclusion
                                segment of the treatise
                                must highlight only the major excerpts of the Discussion segment of the treatise. New
                                ideas, that had not been
                                discussed earlier in the Discussion segment, were brought into the Conclusion segment.
                                Notwithstanding, it was rich in style and fluency. Well done.
                            </p>
                            <div class="elementary__box">
                                <div class="elementary__author">
                                    <h3 class="elementary__main">Shelby Integer</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="elementary__text">
                            <p class="elementary__info">
                                Well written Chief Tim Akano. More grease to your elbow. I know it entails a lot
                                of research work to put up such a write up. Keep going to expand the understanding of
                                how
                                things are unfolding in the world. Have a good day my brother.
                            </p>
                            <div class="elementary__box">
                                <div class="elementary__author">
                                    <h3 class="elementary__main">Shelby Integer</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="elementary__text">
                            <p class="elementary__info">
                                👍🏼👍🏼👍🏼Thanks brother Tim, this is simply a wonderful piece, deeply researched and
                                aptly articulated. Incidentally we will be talking about the "new world order" with my
                                students this week,
                                it will be my pleasure to quote some passages
                                from your write- up (your name will be cited in a Paris university classroom😄). Kudos
                                once more
                            </p>
                            <div class="elementary__box">
                                <div class="elementary__author">
                                    <h3 class="elementary__main">Shelby Integer</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <%- include ('../partials/footer') %>
    </footer>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <script src="./scripts/main.js"></script>
</body>

</html>