<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WCR7NZT');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================ Custom CSS Link ================= -->
    <link rel="stylesheet" href="./css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YZ8F250SJE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-YZ8F250SJE');
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    <title>Articles - Tim Akano</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCR7NZT" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="header__container about__sticky primary__wrapper" id="navbar">
        <%- include ('../partials/header') %>
    </div>

    <!-- Menu for sm-resolution, md-resolution, & lg-resolution -->
    <div class="menu animate__animated animate__backInDown" id="nav__menu">
        <%- include ('../partials/menu') %>
    </div>

    <main>
        <section id="main" class="main">

        </section>

        <!-- ========================== Comment Section =================== -->
        <div class="comment">
            <h4 class="comment__heading">Comments</h4>
            <div class="comment__output">
                <input type="text" name="text" id="text" class="comment__input" placeholder="Enter Your Name">
                <textarea id="textarea" rows="3" class="comment__textarea" placeholder="Write a comment..."></textarea>
                <button id="submitBtn" class="comment__btn">Post comment</button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="typing text-success"></div>
                    <ul class="comment__box">

                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <%- include ('../partials/footer') %>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script src="./scripts/app.js"></script>
    <script src="./scripts/main.js"></script>
    <script src="./scripts/index.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
</body>

</html>