<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PG8337B');
    </script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================ Custom CSS Link ================= -->
    <link rel="stylesheet" href="./css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YZ8F250SJE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-YZ8F250SJE');
    </script>
    <title>Contact Tim - Tim Akano</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PG8337B" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="header__container about__sticky primary__wrapper">
        <%- include ('../partials/header') %>
    </div>
    <!-- Menu for sm-resolution, md-resolution, & lg-resolution -->
    <div class="menu animate__animated animate__backInDown" id="nav__menu">
        <%- include ('../partials/menu') %>
    </div>

    <main>
        <div class="contact">
            <div class="contact__wrapper">
                <h3 class="contact__heading">Contact Tim</h3>
                <form action="#" class="contact__form">
                    <input type="text" name="name" id="name" class="contact__input" placeholder="Full Name" required>
                    <input type="email" name="email" id="email" class="contact__input" placeholder="Email Address"
                        required>
                    <input type="tel" name="tel" id="tel" class="contact__input" placeholder="Phone Number" required>
                    <input type="text" name="subject" id="subject" class="contact__input" placeholder="Subject"
                        required>
                    <textarea name="textarea" id="textarea" cols="30" rows="10" class="contact__input conatct__textarea"
                        placeholder="Message" required></textarea>
                    <button type="submit" class="contact__button">Submit</button>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer">
        <%- include ('../partials/footer') %>
    </footer>
    <script src="./scripts/main.js"></script>
</body>

</html>