<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================ Custom CSS Link ================= -->
    <link rel="stylesheet" href="./css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>About - Tim Akano</title>
</head>

<body>
    <div class="header__container about__sticky primary__wrapper" id="navbar">
        <%- include ('../partials/header') %>
    </div>

    <!-- Menu for sm-resolution, md-resolution, & lg-resolution -->
    <div class="menu animate__animated animate__backInDown" id="nav__menu">
        <%- include ('../partials/menu') %>
    </div>

    <main id="details" class="details">

    </main>

    <footer class="footer">
        <%- include ('../partials/footer') %>
    </footer>
    <script type="text/javascript" src="https://js.pusher.com/3.2/pusher.min.js"></script>
    <script src="./scripts/detail.js"></script>
    <script src="./scripts/main.js"></script>
</body>

</html>