<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PG8337B');
    </script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================ Custom CSS Link ================= -->
    <link rel="stylesheet" href="./css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <title>Timo Akano - Personal Website</title>
</head>

<body onload="myFunction()">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PG8337B" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- ===================== Preload ================= -->
    <div class="wrapper" id="loader">
        <div class="textBox">
            <div class="container__left">
                <p class="bigText">Tim Akano</p>
            </div>
            <div class="container__right">
                <p class="animateText">Investor</p>
            </div>
        </div>
    </div>

    <section class="content" id="myDiv">
        <div class="header">
            <div class="header__container">
                <%- include ('../partials/header') %>
            </div>

            <!-- Menu for sm-resolution, md-resolution, & lg-resolution -->
            <div class="menu transparent" id="nav__menu">
                <%- include ('../partials/menu') %>
            </div>
            <!-- <div class="header__box"><img src="./assets/home.png" alt=""></div> -->
            <div class="header__text">
                <h2 class="header__main animated animate__shakeX">
                    I am the vehicle
                    and the vision is to
                    connect all Africans
                </h2>
            </div>
            <div class="chatBox">
                <a href="https://wa.link/884iu3" target="_blank">
                    <button class="chatBox__btn">
                        <span class="chatBox__span">Chat Tim <i class='bx bx-chat'></i></span>
                    </button>
                </a>
            </div>
        </div>
    </section>
    <!-- =========== JQuery Link ============== -->
    <script src="./scripts/preload.js"></script>
    <script src="./scripts/main.js"></script>
</body>

</html>