<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WCR7NZT');
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ================ Custom CSS Link ================= -->
    <link rel="stylesheet" href="./css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <title>Timo Akano - Personal Website</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YZ8F250SJE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-YZ8F250SJE');
    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCR7NZT" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- ===================== Preload ================= -->
    <div class="overlayer"></div>
    </div>
    <div class="container">
        <div class="container__text">
            <span class="container__primary">Tim</span>
            Akano
        </div>
        <div class="container__flip">
            <div>
                <div>Author</div>
            </div>
            <div>
                <div>Enterpreneur</div>
            </div>
            <div>
                <div>Mentor / Coach</div>
            </div>
            <div>
                <div>Investor</div>
            </div>
        </div>
    </div>

    <section class="section__header">
        <div class="header">
            <div class="header__container">
                <%- include ('../partials/header') %>
            </div>

            <!-- Menu for sm-resolution, md-resolution, & lg-resolution -->
            <div class="menu transparent" id="nav__menu">
                <%- include ('../partials/menu') %>
            </div>
            <!-- <div class="header__box"><img src="./assets/home.png" alt=""></div> -->
            <div class="header__text">
                <h2 class="header__main animated animate__shakeX">
                    I am the
                    <span class="container__primary">VEHICLE</span>
                    and the <span class="container__primary">VISION</span>
                    is to <span class="container__primary">CONNECT</span> all Africans
                </h2>
            </div>
            <div class="chatBox">
                <button class="chatBox__btn">Chat Tim <i class='bx bx-chat'></i></button>
            </div>
        </div>
    </section>
    <!-- =========== JQuery Link ============== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="./scripts/preload.js"></script>
    <script src="./scripts/main.js"></script>
</body>

</html>