/* ============== Google Font (Lato) ================ */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* ============= Variables ================ */
/* ============= Colors =================== */
$light-blue: hsl(214, 69%, 36%); //rgb(69, 140, 203)
$dark-blue: rgb(41, 97, 144); // rgb(28, 82, 155)
$text-color: #333;
$heading-color: #101010;
$color-white: #fff;
$color-black: #000;
$bg-color: rgb(249, 249, 249);

/* ============== Fonts =================== */
$text-family: "Nunito Sans", sans-serif;
$heading-family: "Nunito Sans", sans-serif;
$font-thin: 100;
$font-light: 300;
$font-semi-light: 400;
$font-bold: 700;
$font-semi-bold: 900;
$text-size: 62.8%;
$box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);

/* ============== Margins ============== */
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 2rem;
$mb-4: 5rem;
$mb-5: 7rem;
$mb-6: 10rem;
